*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}

.openModalBtn{
  margin: 50px;
  padding: 10px 20px;
  font-size: 40px;
}

/* .closeModalBtn
{
  padding: 10px 20px;
  font-size: 20px;
  
} */

.modalContainer{
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.339);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.modalContent{
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   display: flex;
   flex-direction: column;
}