*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
}

.listContainer{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 30px;
}

.listItem{
  background-color: aliceblue;
  padding: 10px;
  border-radius:10px; 
  cursor: zoom-in;
  
}

